body{ 
    background-color: #333333;
    color: azure; 
    font-family: "Tajawal" ;
    font-size: 18px; 

}

.table_header_row{
    text-align: center;
    border: 1px solid gray;
    color: #3CCEFF;
}
.email_footer{ padding: 5; border: 1px solid gray; background-color:#3F5161; color: azure;}

.header_table{

    border: 2px solid gray;
    border-collapse: collapse;

}
.table_row{
    text-align: center;
    border: 1px solid gray;
}
.item_table{
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
}

.release_table{
    text-align: center;
    font-size: 14px;
    border: 1px solid gray;
}
.col1{
    border: 1px solid gray;
    color: #3CCEFF;
}

.col2{
    text-align: left;
    border: 1px solid gray;
}